# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [8]:
import pandas as pd
import numpy as np

# Seu código aqui
dados = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
series = pd.Series(dados)
series

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [9]:

# seu código aqui
series = pd.Series(dados, index=['1900','1920','1940','1960','1980','2000','2020'])
series

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [10]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
series_dic = pd.Series(dic_temperaturas)
series_dic

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [12]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
pd.DataFrame(arr)

             0           1           2
0   121.139106  106.563891  115.451759
1   114.851946   92.706233   90.220568
2    96.572730   90.558533  119.151342
3   107.511710  113.793522   97.681125
4   107.044277  110.739132   82.024086
5   107.586470   99.872031  118.280562
6    97.689998  102.565533  102.402952
7   101.502549  105.335070   91.549663
8   105.617510  103.401827  100.276724
9    92.053805   95.258323  110.624734
10  106.669708   80.288498   99.436982
11   99.308463  102.855244  101.207121
12   97.470701  104.939369  117.102549
13  109.831280   90.189742   82.614681
14  107.485374  101.955129  115.626481
15   98.331433  106.334350  116.085496
16   97.168705   99.355530   96.309603
17   82.875311  104.024687  106.098882
18   99.309727   91.605987   91.272364
19   84.740356   92.283644  102.585751

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [15]:
#seu código aqui
pd.DataFrame(arr,index="range(1:21)|['x1','x2','x3']")

TypeError: Index(...) must be called with a collection of some kind, "range(1:21)|['x1','x2','x3']" was passed

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [8]:
# seu código aqui

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [9]:
# seu código aqui