# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [16]:
import pandas as pd
import numpy as np

# Seu código aqui
dados = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
series = pd.Series(dados)
series

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [17]:

# seu código aqui
series = pd.Series(dados, index=['1900','1920','1940','1960','1980','2000','2020'])
series

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [18]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
series_dic = pd.Series(dic_temperaturas)
series_dic

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [19]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
pd.DataFrame(arr)

             0           1           2
0    93.584702  112.398813  103.581956
1    85.678959  111.658529   84.231955
2   114.568510   99.251597  101.937268
3    84.929138   99.652774   94.648925
4   111.160415  107.239365  103.476567
5   108.237864   95.304906   95.927177
6    82.152784   87.969921  106.904723
7    83.949233  110.500323   80.514981
8    84.161427   98.437601  101.492392
9    92.402036  103.435864   93.035009
10   94.154464  105.227003   84.627624
11   89.058176  104.709493  104.126525
12  113.431608  114.051270  107.411119
13  112.629420   91.973092   98.095634
14   90.905998  125.175963  102.398104
15   94.374161  114.778133  101.800986
16  108.617008  111.538559   94.670401
17   92.716462   95.920298  109.276039
18  110.270344   89.119556  101.078066
19  123.538598   97.541171   86.238952

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [27]:
#seu código aqui
# nomeando os índices e colunas
df = pd.DataFrame(arr, index=range(1, 21))
df.columns = ['x1', 'x2', 'x3']
df

            x1          x2          x3
1    93.584702  112.398813  103.581956
2    85.678959  111.658529   84.231955
3   114.568510   99.251597  101.937268
4    84.929138   99.652774   94.648925
5   111.160415  107.239365  103.476567
6   108.237864   95.304906   95.927177
7    82.152784   87.969921  106.904723
8    83.949233  110.500323   80.514981
9    84.161427   98.437601  101.492392
10   92.402036  103.435864   93.035009
11   94.154464  105.227003   84.627624
12   89.058176  104.709493  104.126525
13  113.431608  114.051270  107.411119
14  112.629420   91.973092   98.095634
15   90.905998  125.175963  102.398104
16   94.374161  114.778133  101.800986
17  108.617008  111.538559   94.670401
18   92.716462   95.920298  109.276039
19  110.270344   89.119556  101.078066
20  123.538598   97.541171   86.238952

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [28]:
# seu código aqui
# calculando a média das 3 colunas
df['media'] = (df['x1'] + df['x2'] + df['x3']) / 3
df

            x1          x2          x3       media
1    93.584702  112.398813  103.581956  103.188490
2    85.678959  111.658529   84.231955   93.856481
3   114.568510   99.251597  101.937268  105.252458
4    84.929138   99.652774   94.648925   93.076946
5   111.160415  107.239365  103.476567  107.292116
6   108.237864   95.304906   95.927177   99.823315
7    82.152784   87.969921  106.904723   92.342476
8    83.949233  110.500323   80.514981   91.654846
9    84.161427   98.437601  101.492392   94.697140
10   92.402036  103.435864   93.035009   96.290970
11   94.154464  105.227003   84.627624   94.669697
12   89.058176  104.709493  104.126525   99.298065
13  113.431608  114.051270  107.411119  111.631333
14  112.629420   91.973092   98.095634  100.899382
15   90.905998  125.175963  102.398104  106.160022
16   94.374161  114.778133  101.800986  103.651093
17  108.617008  111.538559   94.670401  104.941990
18   92.716462   95.920298  109.276039   99.304266
19  110.270344   89.119556  101.078066  100.155989
20  123.538598   97.541171   86.238952  102.439574

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [34]:
# seu código aqui
# utilizamos o método log do numpy
df['log_med'] = np.log(df['media'])
df

            x1          x2          x3       media   log_med
1    93.584702  112.398813  103.581956  103.188490  4.636557
2    85.678959  111.658529   84.231955   93.856481  4.541767
3   114.568510   99.251597  101.937268  105.252458  4.656362
4    84.929138   99.652774   94.648925   93.076946  4.533427
5   111.160415  107.239365  103.476567  107.292116  4.675555
6   108.237864   95.304906   95.927177   99.823315  4.603402
7    82.152784   87.969921  106.904723   92.342476  4.525504
8    83.949233  110.500323   80.514981   91.654846  4.518030
9    84.161427   98.437601  101.492392   94.697140  4.550684
10   92.402036  103.435864   93.035009   96.290970  4.567375
11   94.154464  105.227003   84.627624   94.669697  4.550394
12   89.058176  104.709493  104.126525   99.298065  4.598126
13  113.431608  114.051270  107.411119  111.631333  4.715202
14  112.629420   91.973092   98.095634  100.899382  4.614124
15   90.905998  125.175963  102.398104  106.160022  4.664948
16   94.374161  114.778133  101.800986  103.651093  4.641030
17  108.617008  111.538559   94.670401  104.941990  4.653408
18   92.716462   95.920298  109.276039   99.304266  4.598189
19  110.270344   89.119556  101.078066  100.155989  4.606729
20  123.538598   97.541171   86.238952  102.439574  4.629273